{% load static %}
<center>
{% if site_id == 1 or site_id == 2 %}
    <div class='row'>
        <div class="col-md-12 ">
            <div class='alert alert-danger'><h3>ΔΟΚΙΜΑΣΤΙΚΗ ΕΚΔΟΣΗ</h3></div>
        </div>
    </div>
{% endif %}
    
    <div class='row'>
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
            <div></div>
            <div >Copyright &copy; 2016 &lt;&gt;</div>
            
        
        </div>
        <div class="col-md-1">
            
        </div>
    </div>
</center>
