{% extends "site_base.html" %}
{% load core_tags %}
{% load static %}
{% block extra_style %}
<style>

</style>
{% endblock %}
{% block head_title %}Welcome{% endblock %}
{% block body_class %}home{% endblock %}

{% block body_base %}
  <main role="main">
    {% include "_messages.html" %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Sample</h1>
        <h3 class="display-5">Sample template!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Options</h2>
          {% if user.is_authenticated %}
              <h4>Welcome, {{ user }}</h4>
              {% if perms.core.admin %}
                  Admin access
                  <a class="btn btn-primary" href="" role="button">Continue</a></p>
              {% elif perms.core.user %}
                  User access
              {% else %}
                  No access
              {% endif %}
          {% else %}
            <p>
            Please login to use this site!
            <br />
            <a class="btn btn-primary" href="{% url "auth_login" %}" role="button">Log in</a></p>
          {% endif %}
        </div>
      </div>
    </div> <!-- /container -->
  </main>
{% endblock %}

