# Override settings - this is not to be included in the version control

SECRET_KEY = 'overrideme1298{{cookiecutter.project_name}}031892jklaksdiasdlkajsdlkasj{{cookiecutter.project_name}}dlkdfgdfg'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{cookiecutter.project_name}}',
        'USER': '{{cookiecutter.project_name}}',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
        'ATOMIC_REQUESTS': True,
    }
}